@import "global.css";

.filters-container {
    padding: 5%;
    min-height: 55%;
    background: var(--white-color);

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.filters-container > * {
    margin-bottom: 5%;
}


.label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    
    margin-bottom: 2%;
    
    color: var(--secondary-color);
}

.list-item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;

    color: var(--primary-color);
}

.select-list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;  
    
    color: var(--primary-color);

    border: 1px solid var(--ui-gray);
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: none;
}

.promo-input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;

    color: var(--primary-color)
}

.select-list:active,
.select-list:focus,
.promo-input:active,
.promo-input:focus,
.date-filter:active,
.date-filter:focus,
.late-orders-checkbox:active,
.late-orders-checkbox:focus {
    border-color: var(--ui-blue-01-color);
    box-shadow: none;
}

.date-filter {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;

    color: var(--primary-color);
}

.late-orders-checkbox {
    border: 1px solid var(--ui-gray);
    box-sizing: border-box;
    border-radius: 3px;
}

.late-orders-checkbox:checked {
    background-color: var(--ui-blue-01-color);
}

.late-orders-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    
    color: var(--primary-color);
}

.reset-filter-button {
    margin-top: 5%;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;

    color: var(--ui-blue-01-color);    

    border: 1px solid var(--ui-blue-01-color);
    box-sizing: border-box;
}

.reset-filter-button:hover {
    color: var(--ui-blue-01-color);
    background: var(--ui-blue-02-color);
    box-shadow: none;
}

.show-button {
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: -5%;

    color: var(--white-color);
    background: var(--ui-blue-01-color);

    border: 1px solid var(--ui-blue-01-color);
    box-sizing: border-box;
    border-radius: 3px;
}

.show-button:hover {
    color: var(--white-color);
    background: #717AB7;
}

.show-button:active,
.show-button:focus,
.reset-filter-button:active,
.reset-filter-button:focus {
    box-shadow: none;
}

select option:checked {
    background-color: var(--ui-blue-02-color);
    color: var(--ui-blue-01-color);
}
