:root {
    --white-color: #FFFFFF;
    --primary-color: #333333;
    --secondary-color: #83838E;
    --background-color: #F0F0F0;
    --ui-blue_01-color: #8B93CC;
    --ui-blue-02-color: #F4F4FF;
    --ui-gray: #BAC0CF;
    --ui-red: #EF474C;
    --shadow-color: #FFFFFF;
}
